<body>
<style>
        div{
            width: 100px;
            height: 100px;
            background-color: pink;
            animation-name: animate;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-delay: 2s;
            position: absolute;
        }
        @keyframes animate{
            0%{
                background-color: yellowgreen;
                top: 0;
                left: 0;
            }
            10%{
                background-color: yellowgreen;
                top: 0;
                left: 0;
            }
            20%{
                background-color: yellowgreen;
                top: 0;
                left: 0;
            }
            50%{
                background-color: yellowgreen;
                top: 0;
                left: 0;
            }
            75%{
                background-color: yellowgreen;
                top: 0;
                left: 0;
            }
            100%{
                background-color: yellowgreen;
                top: 0;
                left: 0;
            }
        }
    </style>
</body>